<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Contacts</h1>
    <table border = "2">
        <tr>
            <th>Contact Id</th>
            <th>Contact Name</th>
            <th>Mobile Number</th>
            <th>City</th>
            <th>Profession</th>
        </tr>
        {% for c in data %}

        <tr>
            <td>{{ c[0] }}</td>
            <td>{{ c[1] }}</td>
            <td>{{ c[2] }}</td>
            <td>{{ c[3] }}</td>
            <td>{{ c[4] }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>